vendor-prefixes ?= webkit moz official o
@import 'nib'

@font-face
   font-family HelveticaLTStd-Light
   src url "images/HelveticaLTStd-Light.ttf"

   p
   	font-family HelveticaLTStd-Light



.article
	height 100%
	width 100%
	float left

	background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0.1, #750A1A),
	color-stop(1, #E20312),
	);
	background-image: -o-linear-gradient(top, #750A1A 10%, #E20312 100%);
	background-image: -moz-linear-gradient(top, #750A1A 10%, #E20312 100%);
	background-image: -webkit-linear-gradient(top, #750A1A 10%, #E20312 100%);
	background-image: -ms-linear-gradient(top, #750A1A 10%, #E20312 100%);
	background-image: linear-gradient(to top, #750A1A 10%, #E20312 100%);

.contanier
	height 100%
	width 100%

.logo
	
	margin 10px 0 10px 0
	width 100%

.logo2
	margin 0 0 0 42%
	position relative
	

	img
		min-width 35%
		max-width 60%

.mensaje
	float left
	position relative
	margin-top 15px
	width 100%

	p
		text-decoration none
		text-align center
		color white
		font-size 20px

.round-buttonphoto 
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 5px gray;
    margin 2% 0 0 45%
    float left


.round-buttonphoto:hover 
    background: #D1D3D4;

.round-buttonphoto img 
    display: block;
    width: 80%;
    padding: 12%;
    height: auto;
    margin-top 3%
   


.infodos
	float left
	margin-top 160px
	z-index 1000000



.round-button2 
    width: 53px
    height: 53px
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 5px gray;
    margin 10% 0 0 45%

.round-button2:hover 
    background: #D1D3D4;

.round-button2 img 
	margin 15px 0 0 0
	display block
	width 90%
	padding 9%

.piedepag
	background white
	position fixed
	bottom 0
	float left
	width 104%
	margin-left -4%
	

.comentario
	margin 0 0 0 25%
	width 50%
	float left
	
	p
		color gray
		text-align center

	h4
		text-align center
		font-size large


.info
	float left
	width 100%
	margin 10% 0 0 0

	p
		color white
		font-size xx-large
		text-align center


.redes
	margin 0 0 0 26%

.instagram
	float left
	margin 4vw 0 3vw 2vw

.facebook
	margin 3vw 0 1vw 9vw
	float left


.round-button-pregunta
	width: 53px
	height: 53px
	border-radius: 50%;
	border: 2px solid #f5f5f5;
	overflow: hidden;
	background: white;
	box-shadow: 0 0 5px gray;
	position fixed; right 10px
	float right
	margin 5px 10px 0 0

.espacio
	width 100%
	height 19%
	float left
    
    

.round-button-pregunta:hover 
    background: #D1D3D4;

.round-button-pregunta img 
	display: block;
	width: 67%;
	margin 4% 0 0 16%

.pregunta
	position fixed; right 10px
	float right
	margin 0 100px 0 0
	

.slogan
	width 100%
	float left
	background white
	border-radius: 15px
	opacity 0.8
	overflow hidden
	height 0px
	transition: all 1s ease-in-out;
	transition-delay: initial;


	p
		text-align center
		font-size large
		padding 3vw

	
.scroller
	height 100px
	width 100%

	






